<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/close-up-friends-playing-cards-game.jpg" class="d-block w-100"
        alt="Portrait of girl holding credit card at her face" id="carousel-first-image">
      <div class="container ">
        <div class="carousel-caption text-start ">
          <h1 class="fw-bold">
            Comienza a jugar hoy
          </h1>
          <!-- bold -->
          <p class="">
            Nunca fue mas fácil jugar al truco online. Crea una sala y juega con tus amigos.
          </p>
          <p><a class="btn btn-lg btn-success text-white" href="#hero">Registrarme</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/front-view-happy-friends-playing-cards-game.jpg" class="d-block w-100"
        alt="Portrait of girl holding credit card at her face" id="carousel-second-image">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="fw-bold">Sentite siempre cerca de tus amigos</h1>
          <p>
            Queremos que te diviertas como siempre. Por eso, te ofrecemos la posibilidad de jugar con tus amigos de
            forma online.
          </p>
          <p><a class="btn btn-lg btn-success text-white" href="#hero">Comenzar</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/front-view-woman-laughing-cards-game.jpg" class="d-block w-100"
        alt="Portrait of girl holding credit card at her face" id="carousel-third-image">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1 class="fw-bold">La plataforma de truco mas divertida</h1>
          <p>
            Juega con tus amigos y familiares en cualquier momento y lugar. ¡No te aburras mas!
          </p>
          <p><a class="btn btn-lg btn-success text-white" href="#hero">Jugar ahora</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>