<div class="container my-5">
    <div class="row">
        <!-- Align text center -->
        <h2 class="pb-3 border-bottom my-5">
            <span class="text-primary">
                Testimonios
            </span>
        </h2>

        <div class="col-lg-4 text-center">
            <img src="../../../assets/img/testimony-face-one.png" class="rounded-circle mb-2"
                alt="Generic placeholder image" width="140" height="140" />
            <h3 class="fw-normal">Excelente plataforma</h3>
            <p class="fw-light">
                "Tengo amigos con los que siempre jugábamos al truco, ahora vivimos lejos y no podemos juntarnos tan
                seguido.
                <br>
                Probamos esta plataforma y nos encantó, nos hizo sentir cerca nuevamente."
            </p>

        </div>
        <div class="col-lg-4 text-center">
            <img src="../../../assets/img/testimony-face-two.png" class="rounded-circle mb-2"
                alt="Generic placeholder image" width="140" height="140" />
            <h3 class="fw-normal">Para todo público</h3>
            <p class="fw-light">
                "Mis hijos adolescentes se entretienen mucho jugando al truco, y yo también. <br>
                Es una plataforma muy divertida y la gente que ingresa a la plataforma es muy respetuosa y amigable."
            </p>

        </div>
        <div class="col-lg-4 text-center">
            <img src="../../../assets/img/testimony-face-three.jpg" class="rounded-circle mb-2"
                alt="Generic placeholder image" width="140" height="140" />

            <h3 class="fw-normal">Aprendí con los tutoriales</h3>
            <p class="fw-light">
                "Podés aprender a jugar con los tutoriales que te ofrece la plataforma o jugando contra la máquina.
                <br>
                Después de que aprendí pude unirme a una mesa y me resultó muy divertido.
            </p>

        </div>
        <hr class="featurette-divider my-4" />
    </div>
</div>