<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top align-items-center">
    <div class="col mb-3"></div>
    <div class="col mb-3">
      <span class="text-muted">&copy; Vale Cuatro · 2022</span>
    </div>
    <div class="col mb-3"></div>
    <div class="col mb-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Inicio</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#hero" class="nav-link p-0 text-muted">Registro</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#testimony" class="nav-link p-0 text-muted">Experiencias</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#marketing" class="nav-link p-0 text-muted">¿Qué podés hacer?</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#features" class="nav-link p-0 text-muted">¿Qué es Vale Cuatro?</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#pricing" class="nav-link p-0 text-muted">Suscripción</a>
        </li>
      </ul>
    </div>
  </footer>
</div>