<div class="container">
  <header class="d-flex flex-nowrap justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="../../../assets/vale-cuatro-fondo-transparente.png" alt="Imagotipo de Vale Cuatro" id="imagotipo" />
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item align-self-center">
        <a href="#" class="nav-link" aria-current="page">Inicio</a>
      </li>
      <li class="nav-item align-self-center">
        <a href="#hero" class="nav-link">Registro</a>
      </li>
      <li class="nav-item align-self-center">
        <a href="#testimony" class="nav-link">Experiencias</a>

      </li>
      <li class="nav-item align-self-center">
        <a href="#marketing" class="nav-link">¿Qué podés hacer?</a>
      </li>
      <li class="nav-item align-self-center">
        <a href="#features" class="nav-link">¿Qué es Vale Cuatro?</a>
      </li>
      <li class="nav-item align-self-center">
        <a href="#pricing" class="nav-link">Suscripción</a>
      </li>
    </ul>
  </header>
</div>