<div id="hero" class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-5 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">
        ¡Registrarse es gratis!
      </h1>
      <p class="col-lg-10 fs-4">
        Podés comenzar a jugar en cualquier momento, sin necesidad de
        descargar nada. ¡Todo está en línea! ¡Regístrate ahora! y
        comienza a jugar.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
     <img src="../../../assets/img/Jugabilidad.jpg" alt="Jugabilidad" style="border-radius: 15px">
     <p><a class="btn btn-lg btn-warning text-white" style="background-color:rgb(247, 160, 0); height: 50px; width: 120px; margin-top: 10px;" href="https://dev-code-trucoapp20221119110900.azurewebsites.net/" target="_blank">Jugar</a></p>

    </div>
  </div>
</div>