<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path
      d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
  </symbol>
</svg>

<div id="pricing" class="container my-5">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">Planes</h2>
    <p class="fs-5 text-muted">
      Elige el plan que más se adapte a tus necesidades. Podés cambiar de plan
      cuando quieras.
    </p>
  </div>
</div>
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $0<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 usuario</li>
            <li>Puede unirse a mesas</li>
            <li>Puede unirse a torneos.</li>
            <li>1 avatar</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-secondary">
            Free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-bg-success border-success text-white">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $9<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>6 usuarios</li>
            <li>2 mesas simultaneas (crear)</li>
            <li>1 torneo/mes (crear)</li>
            <li>2 avatar por usuario</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-success text-white">
            ¡Comenzar!
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-danger">
        <div class="card-header py-3 text-bg-danger border-danger text-white">
          <h4 class="my-0 fw-normal">Premium</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $16<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>12 usuarios</li>
            <li>3 mesas simultaneas (crear)</li>
            <li>2 torneos/mes (crear) </li>
            <li>3 avatares por usuario</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-danger text-white">
            ¡Ser Premium!
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Comparar planes</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%"></th>
          <th style="width: 22%">Free</th>
          <th style="width: 22%">Pro</th>
          <th style="width: 22%">Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Jugar</th>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Modo privado</th>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Chat</th>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Invitaciones</th>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">
            Estadísticas
          </th>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">
            Soporte
          </th>
          <td></td>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check" />
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>