<main>
  <app-header></app-header>
  <div class="b-example-divider"></div>
  <app-carousel></app-carousel>
  <div class="b-example-divider"></div>
  <app-hero></app-hero>
  <div class="b-example-divider"></div>
  <app-testimony></app-testimony>
  <div class="b-example-divider"></div>
  <app-marketing></app-marketing>
  <div class="b-example-divider"></div>
  <app-features></app-features>
  <div class="b-example-divider"></div>
  <app-pricing></app-pricing>
  <div class="b-example-divider"></div>
  <app-footer></app-footer>
</main>