<div class="container marketing my-5">
  <div class="row">
    <!-- Align text center -->
    <div class="col-lg-4 text-center">
      <img src="../../../assets/img/testimony-face-one.png" class="rounded-circle mb-2" alt="Generic placeholder image"
        width="140" height="140" />
      <h3 class="fw-normal">Excelente plataforma</h3>
      <p class="fw-light">
        "Tengo amigos con los que siempre jugábamos al truco, ahora vivimos lejos y no podemos juntarnos tan seguido.
        <br>
        Probamos esta plataforma y nos encantó, nos hizo sentir cerca nuevamente."
      </p>

    </div>
    <div class="col-lg-4 text-center">
      <img src="../../../assets/img/testimony-face-two.png" class="rounded-circle mb-2" alt="Generic placeholder image"
        width="140" height="140" />
      <h3 class="fw-normal">Para todo público</h3>
      <p class="fw-light">
        "Mis hijos adolescentes se entretienen mucho jugando al truco, y yo también. <br>
        Es una plataforma muy divertida y la gente que ingresa a la plataforma es muy respetuosa y amigable."
      </p>

    </div>
    <div class="col-lg-4 text-center">
      <img src="../../../assets/img/testimony-face-three.jpg" class="rounded-circle mb-2"
        alt="Generic placeholder image" width="140" height="140" />

      <h3 class="fw-normal">Aprendí jugando</h3>
      <p class="fw-light">
        "Podés aprender a jugar con los tutoriales que te ofrece la plataforma. También podés jugar contra la máquina.
        <br>
        Después de que aprendí pude unirme a una mesa y me resultó muy divertido.
      </p>

    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Una partida <span class="text-muted">ó un torneo</span>
      </h2>
      <p class="lead">
        Lo que importa es divertirte tanto cómo quieras. <br>
        Podés entrar a una sala a jugar una sola partida o podés anotarte a un torneo
        y jugar todo el día. <br>
        El límite a la diversión lo ponés vos.
      </p>
    </div>

    <div class="col-md-5">
      <img src="../../../assets/img/peers-online-animation.jpg" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Oh yeah, it’s that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">
        Another featurette? Of course. More placeholder content here to give you
        an idea of how this layout would work with some actual real-world
        content in place.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../../assets/img/tounrey-animation-two.jpg" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        And lastly, this one. <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">
        And yes, this is the last block of representative placeholder content.
        Again, not really intended to be actually read, simply here to give you
        a better view of what this would look like with some actual content.
        Your content.
      </p>
    </div>

    <div class="col-md-5">
      <img src="../../../assets/img/tourney-animation.jpg" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>
  <hr class="featurette-divider" />
</div>