<div class="container marketing my-5">
  <div class="row">
    <!-- Align text center -->
    <div class="col-lg-4 text-center">
      <img src="https://picsum.photos/200/200?random=1" class="rounded-circle" alt="Generic placeholder image"
        width="140" height="140" />
      <h2 class="fw-normal">¡Jugá con amigos!</h2>
      <p>
        Podés jugar con tus amigos, o con gente que no conocés. ¡Es muy divertido!
      </p>
      <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="https://picsum.photos/200/200?random=2" class="rounded-circle" alt="Generic placeholder image"
        width="140" height="140" />
      <h2 class="fw-normal">¡Chateá en vivo!</h2>
      <p>
        Podés chatear con otros jugadores en vivo, mientras jugás. ¡No te quedes solo!
      </p>
      <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="https://picsum.photos/200/200?random=3" class="rounded-circle" alt="Generic placeholder image"
        width="140" height="140" />

      <h2 class="fw-normal">¡Aprendé a jugar!</h2>
      <p>
        Podés aprender a jugar con los tutoriales que te ofrecemos. ¡Aprendé a jugar!
      </p>
      <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        ¡Jugá con tus amigos!
        <span class="text-muted">
          ¡Es muy divertido!
        </span>
      </h2>
      <p class="lead text-center">
        Podés jugar con tus amigos, o con gente que no conocés.
      </p>
      <p class="lead">
        ¡Es muy divertido!
    </div>
    <div class="col-md-5">
      <img src="https://picsum.photos/500/500?random=4" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Oh yeah, it’s that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">
        Another featurette? Of course. More placeholder content here to give you
        an idea of how this layout would work with some actual real-world
        content in place.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://picsum.photos/500/500?random=5" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        And lastly, this one. <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">
        And yes, this is the last block of representative placeholder content.
        Again, not really intended to be actually read, simply here to give you
        a better view of what this would look like with some actual content.
        Your content.
      </p>
    </div>

    <div class="col-md-5">
      <img src="https://picsum.photos/500/500?random=6" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>
  <hr class="featurette-divider" />
</div>