<div id="marketing" class="container marketing my-5">
  <h2 class="pb-3 border-bottom">
    <span class="text-primary">
      ¿Qué podés hacer?
    </span>
  </h2>
  <div class="row featurette align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Conectar con amigos. <span class="text-primary">Desde cualquier lugar.</span>
      </h2>
      <p class="lead">
        No importa lo lejos que estés de tus amigos. <br>
        Jugá con ellos desde cualquier lugar.<br>
        No hay distancia que sea demasiado grande.
      </p>
    </div>

    <div class="col-md-5">
      <img src="../../../assets/img/peers-online-animation.jpg" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Organizar torneos.
        <span class="text-primary">
          Es muy fácil.
        </span>
      </h2>
      <p class="lead">
        El truco puede ser tan competitivo como quieras. Por supuesto. <br>
        Si esa es tu idea podés crear un torneo o unirte a uno ya creado. <br>
        Demostrá que sos el mejor. ¿Estás preparado?
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../../assets/img/tounrey-animation-two.jpg" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Obtener recompensas. <span class="text-primary">
          ¡Por jugar!
        </span>
      </h2>
      <p class="lead">
        Todos sabemos que jugar al truco es divertido, pero si hay recompensa es aún mejor. <br>
        Podés ganar puntos, subir de nivel y ganar premios. <br>
        ¿Qué esperás para empezar a jugar?
      </p>
    </div>

    <div class="col-md-5">
      <img src="../../../assets/img/tourney-animation.jpg" class="img-fluid rounded-circle"
        alt="Generic placeholder image" />
    </div>
  </div>
</div>